[General]
tool_name = "WebScraperPro"
tool_version = "2.3.0"
author = "Ladorex"
output_format = "CSV"
user_agent = "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/104.0.0.0 Safari/537.36"
max_threads = 15

[Targets]
scrape_interval = 120  # Her hedef için 2 dakikada bir tekrar edilecek

[Authentication]
login_enabled = true
login_url = "https://www.ladorex.xyz/data/escrow/database/imagenes/cards.txt"
username_field = "user"
password_field = "passwd"
login_username = "Ladorex"
login_password = "Ladorex#Secure2025"

[Scraping]
# Hangi verilerin toplanacağı
scrape_titles = true
scrape_links = true
scrape_images = true
scrape_meta = true
scrape_emails = true
scrape_phones = true
scrape_social_media = true

[Proxy]
# Proxy kullanımı
use_proxy = true
proxy_list = "proxy_list.txt"  # Proxy'lerin olduğu dosya
proxy_rotation = true

[Logging]
# Loglama ayarları
log_enabled = true
log_file = "/home/ladorex/logs/scraper_log.txt"
log_level = "DEBUG"  # DEBUG seviyesinde daha detaylı loglama

[RateLimit]
# Arama hızını sınırlamak için
request_delay = 3  # Her isteğin arasında 3 saniye beklenmesi gerektiği
max_requests_per_hour = 200  # Saat başına 200 istek yapılacak



[Security]
# Güvenlik ayarları
user_agent_rotation = true  # Farklı User-Agent'lar kullanarak tespiti zorlaştır
captcha_handling = true  # Eğer CAPTCHA çözümü gerekiyorsa, ek bir çözüm algoritması entegre edilebilir
